.centro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  color: var(--ion-color-medium);
}

.contador {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 0.25rem;
  font-size: 0.85rem;
}
